 <!--Creating a video background. Video is tend to its copyright owner -->
<video id="bgvid" playsinline autoplay loop>
<source src="Data/last1.mp4" type="video/mp4">
<source src="Data/last1.webm" type="video/webm">
</video>

<div class="container">
    <div class="row">
        <div class=" sachinContainer col l9 s12 offset-l2"> 
            <h1 class="center-align name">Sachin Tendulkar</h1>
            <img class="portrait" src="Images/sachinBackContainer.png" alt="">
        </div>
        <div class="buttonDiv col l8 m8">
            <a class="waves-effect waves-light btn-flat mainBtn" href="#!/about">Get to know him</a>
            <a class="waves-effect waves-light btn-flat mainBtn mainBtnNumbers" href="#!/stats">Numbers don't lie</a>
        </div>
    </div>
</div>
