<style>
  /*Heading*/
  h4{
    color: black;
    font-family: 'Sanchez', serif;
  }
</style>
<div class="navbar-fixed color statsHeader">
  <nav>
    <div class="nav-wrapper">
      <a href="#" class="brand-logo"><span style="color: orange; font-family: 'Contrail One', serif;">&nbsp; 10 Tendulkar</span></a>
      <ul id="nav-mobile" class="right hide-on-small-only">
        <li><a href="#!/about">&nbsp; About</a></li>
        <li class="active"><a href="#!/stats">&nbsp; Stats</a></li>
        <li><a href="#!">
                &nbsp;<img style="margin-top: 20%;" src="Images/home.svg" alt="">
            </a></li>
      </ul>
      <ul id="nav-mobile" class="left hide-on-large-only">
        <li><a href="#!">
                &nbsp;<img style="margin-top: 20%;" src="Images/home.svg" alt="">
            </a></li>
      </ul>
    </div>
  </nav>

  <div class="container">
      <div class="row">
          <div class="col l6 m6 s8 offset-l7 center-align quotation">
              <h4 style="color: white; font-family:'Satisfy', cursive;"> " {{quote}} "</h4>
          </div>
      </div>
  </div>
  </div>

<!-- Starting of Stats -->
  <div class="aboutStatsBody">
      <div class="row">
        <div style="padding: 0;" class="col l12 s12 m12 z-depth-2">
          <h1 style="line-height: 8rem; margin:0; background-color:#C4DFE6" class="center-align">
            Stats
          </h1>
        </div>
    </div>

    <div class="row">
       <div class="col s12 m4 l4">
         <div class="card">
           <div class="card-image">
             <img src="Images/table.PNG">
           </div>
           <div class="card-content">
             <h4>Batting Performance</h4>
             <p>Looking at the data we can infer that Sachin's Performance was best
               when team batted in the first inning. Because number of innnings batted first are less but runs are more</p>
           </div>
          </div>
        </div>
        <div class="col s12 m7 offset-l1">
          <div class="card">
            <div class="card-image">
              <img src="Images/Batting_Average.PNG">
            </div>
            <div class="card-content">
              <h4>Batting Average</h4>
              <p>By looking at the graph it can be inferred that Sachin's batting average grew with the progression in his career, though it has small dip in the end</p>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col s12 m7">
          <div class="card">
            <div class="card-image">
              <img src="Images/Runs_against_various_teams.PNG">
            </div>
            <div class="card-content">
              <h4>Runs Against Various Teams</h4>
              <p>He scored maximum runs against Australia, Pakistan, Sri Lanka and England. This makes him great because scoring so much runs against such great teams is a hard job</p>
            </div>
          </div>
        </div>
        <div class="col s12 m5 l5">
          <div class="card">
            <div class="card-image">
              <img src="Images/Runs_per_year.PNG">
            </div>
            <div class="card-content">
              <h4>Runs per year</h4>
              <p>From the line graph it can be inferred that Sachin's batting score grew with the progression in his career.</p>
            </div>
          </div>
        </div>
      </div>

       <div class="row">
        <div class="col s12 m7 offset-l3">
          <div class="card">
            <div class="card-image">
              <img src="Images/Wickets_per_match_every_year.PNG">
            </div>
            <div class="card-content">
              <h4>Wickets</h4>
              <p>It can be inferred that wicket taken by Sachin per match every year kept on increasing though it has come down to 0 by the end of his career.</p>
            </div>
          </div>
        </div>
      </div>
      <div class="container">
        <h5 style="font-weight: bold">Sachin grew as a player with his career, he setted records which are unbreakable. With the progression in his career his batting performance grew to a great height. He is "The one of the greatest cricketer of all time." </h3>
      </div>
  </div>

  <div class="aboutBody">
    <div class="secondStatsDiv">
      <div class="container">
        <div class="row">
          <div class="col l6 m6 s8 offset-l7 center-align quotation">
              <h4 style="color: white; font-family:'Satisfy', cursive;"> " {{quote1}} "</h4>
          </div>
        </div>
      </div>
    </div>
  </div>

  

